.mbox {
  position: fixed;
  right: 10%;
  bottom: 10%;
  height: 5rem;
  z-index: 1001;
  cursor: pointer;
}
.chatbox {
  animation: jump 2s ease-in-out infinite alternate 2s;
  position: relative;

  @keyframes jump {
    0% {
      transform: translateY(-0%);
    }
    50% {
      transform: translateY(10%);
    }
    100% {
      transform: translateY(-20%);
    }
  }

  &:hover {
    animation-play-state: paused;
  }

  @media (max-width: 768px) {
    width: 60px;
  }
}

.popup-container {
  position: fixed;
  top: 30%;
  right: 5%;
  background-color: #eaeaea;
  z-index: 1001;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 550px;
  min-height: 60vh;
  box-shadow: 0px 6px 8px 4px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  @media screen and (max-width: 1300px) {
    width: 450px;
    min-height: 80vh;
    right: 1%;
    top: 13%;
  }
  @media screen and (max-width: 768px) {
    width: 350px;
    right: 1%;
    min-height: 60vh;
    top: 30%;
  }
  @media screen and (max-width: 288px) {
    width: 100%;
    right: 1%;
  }
  .box {
    width: 100%;
    background-color: #f5821f;
    border-radius: 10px 10px 0px 0px;
    color: #fff;
    padding: 1.6rem 2rem;
    padding-bottom: 6rem;
    display: flex;
    gap: 1.5rem;
    justify-content: space-between;
    @media screen and (max-width: 768px) {
      padding: 2rem 1rem;
      padding-bottom: 6rem;
    }
    span {
      background-color: rgba(255, 255, 255, 0.4);
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
      display: flex;
      padding: 1.2rem;
      height: 60px;
      border-radius: 10px;
      align-items: center;
      justify-content: center;
      transition: all 0.4s;
      &:hover {
        background-color: rgba(255, 255, 255, 0.6);
      }

      .icon {
        font-size: 24px;
        color: white;
        font-weight: bold;
      }
      @media screen and (max-width: 768px) {
        padding: 1rem;
        height: 56px;
      }
    }
    .top-text {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      width: 100%;
      h1 {
        font-size: 24px;
        font-weight: 500;
      }
      p {
        font-size: 18px;
        font-weight: 200;
        opacity: 0.8;
      }
      @media (max-width: 1300px) {
        gap: 0.3rem;
        h1 {
          font-size: 24px;
        }
        p {
          font-size: 16px;
        }
      }
      @media (max-width: 768px) {
        gap: 0.3rem;
        h1 {
          font-size: 20px;
        }
        p {
          font-size: 16px;
        }
      }
    }
  }

  .type {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 8vh;
    align-items: center;
    border-radius: 0px 0px 20px 20px;
    .extra {
      display: flex;
      justify-content: space-between;
      gap: 0.5rem;
      padding: 2rem;
      .icon {
        font-size: 24px;
        color: #767676;
      }
    }
    .replybox {
      width: 70%;
      padding: 2rem;
      input {
        outline: none;
        border: none;
        font-size: 18px;
      }
    }
  }
  .chat {
    position: absolute;
    padding: 2rem 1.6rem;
    width: 90%;
    height: 40vh;
    background-color: #fff;
    overflow: scroll;
    right: 5%;
    bottom: 15%;
    border-radius: 6px;
    box-shadow: 0px 4px 6px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    @media (max-width: 1300px) {
      height: 50vh;
    }
    @media (max-width: 768px) {
      padding: 1.6rem 1.2rem;
      height: 39vh;
    }
    @media (max-width: 390px) {
      height: 36vh;
    }
    .admin-container {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 1rem;
    }
    .circle {
      width: 40px;
      height: 40px;
      border-radius: 50px;
      background-color: #d9d9d9;
      @media (max-width: 768px) {
        width: 20px;
        height: 20px;
      }
    }
    .msbox {
      display: flex;
      flex-direction: column;
      h2 {
        color: #767676;
        opacity: 0.5;
        font-size: 18px;
        font-weight: 300;
        margin: 0;
      }
      p {
        color: #767676;
        background-color: #f1f1f1;
        width: 16rem;
        padding: 1rem;
        font-size: 18px;
        border-radius: 0px 20px 20px 20px;
      }
      @media (max-width: 768px) {
        h2,
        p {
          font-size: 16px;
        }
        p {
          width: 14rem;
        }
      }
    }
    .user-container {
      width: 16rem;
      align-self: flex-end;
      text-align: right;
      padding: 0 1rem;
      display: flex;
      align-items: center;
      bottom: 0;
      position: relative;
      justify-content: flex-end;
      gap: 1rem;

      p {
        color: #767676;
        font-size: 18px;
      }
      .circle {
        width: 14px;
        height: 14px;
      }
    }
  }
}
.api-page {
  min-height: 100vh;
  height: 200vh;
}
.mainer {
  margin-top: 6rem;
  .container {
    display: grid;
    width: 100%;
    justify-content: space-between;
    grid-template-columns: auto auto auto;
    @media (max-width: 1200px) {
      grid-template-columns: auto auto;
    }
    @media (max-width: 768px) {
      grid-template-columns: auto;
    }
    gap: 6rem;
    .card {
      height: 20vh;
      width: 20rem;
      transition: 0.5s;
      position: relative;
      cursor: pointer;
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
      background: linear-gradient(
        to bottom,
        rgba(4, 11, 27, 0.1) 10%,
        rgba(0, 6, 17, 0.4) 50%,
        rgba(4, 11, 27, 0.8) 100%
      );
      border-radius: 10px;

      .line {
        position: absolute;
        inset: 0;
        overflow: hidden;
        border-radius: 10px;
        &::before {
          content: "";
          background-image: linear-gradient(
            to left,
            transparent 20%,
            #f5821f,
            transparent
          );
          position: absolute;
          width: 40rem;
          top: 50%;
          left: 50%;
          height: 8vh;

          animation: roll 12s linear infinite alternate;
          @keyframes roll {
            0% {
              transform: translate(-50%, -50%) rotate(0deg);
              background-image: linear-gradient(
                to bottom,
                transparent 0%,
                #f5821f,
                transparent
              );
            }
            100% {
              transform: translate(-50%, -50%) rotate(360deg);
              background: linear-gradient(to left, #10295f, #040b1b);
            }
          }
        }
        &::after {
          content: "";
          border-radius: 10px;
          position: absolute;
          inset: 4px;
          background: linear-gradient(to bottom, #10295f, #040b1b);
        }
      }
      .profile {
        height: 15vh;
        width: 10rem;
        background: #10295f;
        left: 50%;
        top: 0px;
        transform: translate(-50%, -50%);
        z-index: 5;
        position: absolute;
        transition: all 0.5s;
        img {
          position: absolute;
          z-index: 10;
          width: calc(100% - 10px);
          height: calc(100% - 10px);
          object-fit: cover;
          top: 5px;
          left: 5px;
        }
      }
      &:hover {
        height: 40vh;
        .profile {
          height: 22vh;
          width: 12rem;
        }
      }
    }
  }
}
